
    <div class="contendor">
      <div class="mt-4" >
        <h1 class="gradiente" >fazt.dev</h1>
      </div>

      <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit quis dolor expedita praesentium velit, maiores eligendi fugit et voluptates laborum quasi consequatur repudiandae nostrum facilis illo explicabo, sunt dolorem voluptatibus deserunt voluptas quos beatae harum ullam. Officia, earum unde. Optio atque praesentium, ut aspernatur illo commodi mollitia necessitatibus inventore facere explicabo similique! Nemo beatae nisi culpa, nihil fuga molestias saepe error tempore modi autem impedit consequuntur voluptate perspiciatis iusto sint, blanditiis repellendus architecto harum. Fuga deserunt quam sit aperiam?</p>
      <div class="contenedor">
        <h4>Efecto de máquina de escribir.<span>&#160;</span></h4>
      </div>
      <shared-cards></shared-cards>

    </div>



