  <nav class=" navbar-style" >
      <div class="nav d-flex justify-content-between container ul-style ">
        <div class="d-flex justify-content-center align-items-center">
          <li><a id="len1" class="hoverable" routerLink="home" routerLinkActive="router-link-active" >Home</a></li>
          <li><a id="len2" class="hoverable" routerLink="curriculum" >curriculum link este si</a></li>
          <li><a id="len3" class="hoverable"  routerLink="curriculum" >Portafolio</a></li>
        </div>
        <div>
          <li><a id="len4" class="hoverable" href="#">Contact</a></li>
        </div>
      </div>
  </nav>
  <!-- <div id="what-the-hell-is-this container">
    <div class="page-title">
      <h2>Simple Navigation</h2>
      <p class="lead">
        Based on Hover.css, the goal of this pen
        is to create a simple navigation bar <br />
        that can be easily reused in both mobile and native displays. Mouse over the nav text for animation!
      </p>
    </div>
  </div> -->






