<div class="index-post">
  <div  *ngFor="let index of [0, 1, 2,3,4,5,6]" class="contener">
      <div class="image-contener">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhilNyRZ1y1AoNWLpsjDgGBPjY6qztVhiLTg&usqp=CAU" alt="">
      </div>
      <div class="meta-contener">
          <h2 class="title">Nature World.</h2>
          <span class="desc">Nature World News brings out the science geek in every...</span>
      </div>
      <div class="button-contener">
          <a href="#" class="button">Read More →</a>
      </div>
  </div>

</div>
