div svg {
  margin: 10px;
}
.rights {
  color: #6B7280;
  display: inline-block;
  font-size: 15px;
}
.social-media {
  display: inline-block;
  width: 100%;
 // align-items: flex-end;
  //justify-content: center;
}
.icons-container {
  width: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
